@import "./src/styles/mixins/mixins";

.catalog {
  display: flex;
  padding: 30px 0;

  &__menu {
    top: 0;
    position: sticky;
    width: 270px;
    margin-right: 30px;
    background-color: #FFFFFF;
    max-height: 500px;
    padding: 10px;
  }

  &__list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(238px,1fr));
  }
}

.section {
  width: 100%;
}
