.header {
  &__logo {
    width: 40px;
    height: 40px;
  }

  &__title {
    color: orangered;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
  }

  &__main {
    background-color: #f6f6f6;
    flex-grow: 1;
  }

  &__footer {
    background-color: #bbe3ef;
    flex-shrink: 0;
  }
}
